<% restaurants.each do |restaurant| %>
  <div class="col-md-4 text-center">
    <div class="col-md-12 well">
      <h3><strong><%= restaurant.name %></strong></h3>
      <h4>Restaurant decription</h4>
    </div>
    <a href="#"><div class="view-button"><h3 class="view-header">Make Reservation</h3></div></a>
  </div>
<% end %>