body {
  width: 100%;
  min-width: 340px;
}

.content{
  position: relative;
  padding: 5%;
  margin-top: 10%;
  .input-group {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #F48138;
    input {
      font-size: 1.4em;
      background-color: white;
    }
  }
  .city_table {
    position: absolute;
    width: 76.67%;
    margin: 0 auto;
    border: 1px solid #F48138;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;

    tr td a {
      display:block;
      height:100%;
      width:100%;
    }
  }
}

tr td a {
  display:block;
  height:100%;
  width:100%;
}

.restaurant-grid-container img {
    width:100%;
    height: 230px;
}

.restaurant-show-container img {
    width:60%;
}

#availability-button{margin-top: 10px;}

.hidden {
  display: none;
}

.city_search {
  text-align: center;
}

.text_center {
  text-align: center;
}

$navbar-height: 90px;

@import "bootstrap-sprockets";
@import "theme_darkly_variables";
@import "bootstrap";
@import "theme_darkly";
@import "toastr";